/* Eigene Styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: $mainBackground;
    width: 100%;
    font-size: 90%;

    @mixin atSmall {
        font-size: 100%;
    }
    @mixin atMedium {
        font-size: 120%;
    }
    @mixin atLarge {
        font-size: 150%;
    }
    @mixin atExtraLarge {
        font-size: 200%;
    }
}

img {
    max-width: 100%;
    height: auto;
}


a {
    color: $kpcBlau;
}