$mainBackground: #a9d0f5;
$kpcRot: rgb(170,0,62);
$kpcBlau: #002440;
$kpcRotDark: rgb(140,0,62);
$kpcBlau1: RGB(17, 71, 106); /* K&P Blau 1 */
$kpcBlau2: RGB(73, 107, 141); /* K&P Blau 2 */
$kpcBlau3: RGB(128, 150, 178); /* K&P Blau 3 */
$kpcBlau4: RGB(189, 199, 217); /* K&P Blau 4 */
$kpcBlau5: RGB(220, 226, 236); /* K&P Blau 5 */

$transparentBG: rgba(255, 255, 255, .6);
