.container {
    margin: .5rem;
    ;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: .2rem;
        padding-top: .2rem;
    }
    h4 {
        margin-top: 0;
        margin-bottom: .1rem;
    }
    p {
        margin: 0;
    }
    &--techniker {
        background-color: #8aeba1;
        /*background-color: $kpcBlau1;*/
    }
    &--level1 {
        background-color: #00ffe0;
        /*background-color: $kpcBlau2;*/
    }
    &--level2 {
        background-color: #59eb59;
        /*background-color: $kpcBlau3;*/
    }
    &--legende {
        background-color: lightseagreen;
        margin-top: 3rem;
        font-size: .9em;
    }
}

.container--boxes {
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted #000;
    padding-right: .5em;
    padding-bottom: .3em;
    margin: 0;
}
.container--boxes .box {
    margin: .4em;
    padding: .4em;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 3px #aaa;
    max-width: 20em;
    /* min-width: 20em; */ /* einkommentieren, falls die Boxen gleich breit sein sollen */
    &.frei {
        background-color: $frei;
    }

    &.abw {
        background-color: $abw;
    }

    &.abw-No-Tel {
        background-color: $abw-No-Tel;
        color: white;
    }

    &.Call {
        background-color: $Call;
    }

    &.Call-No-Tel {
        background-color: $Call-No-Tel;
        color: white;
    }

    &.Urlaub-krank {
        background-color: $Urlaub-krank;
    }

    &.Anfahrt {
        background-color: $Anfahrt;
    }

    &.Abfahrt {
        background-color: $Abfahrt;
    }

    &.L1 {
        background-color: $L1;
    }

    &.L2 {
        background-color: $L2;
    }
}

.container--legende .container--boxes .box  {
    min-width: 20em;
}