.container--boxes {
    display: flex;
    flex-wrap: wrap;
    padding-right: .5em;
    padding-bottom: .3em;
    margin: 0;
    border: none;

}
.box {
    margin: .4em;
    padding: .4em;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 7px 7px 5px -2px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    max-width: 25em;
    max-width: 100%;
    /*min-width: 20em;   einkommentieren, falls die Boxen gleich breit sein sollen */
    @mixin atSmall {
        max-width: 60%;
    }

    @mixin atMedium {
        max-width: 50%;
    }

    h4 {
        padding-bottom: .2em;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        margin-bottom: .3em;
    }

    &.frei {
        background-color: $frei;
    }

    &.abw {
        background-color: $abw;
    }

    &.abw-No-Tel {
        background-color: $abw-No-Tel;
        color: white;
    }

    &.Call {
        background-color: $Call;
    }

    &.Call-No-Tel {
        background-color: $Call-No-Tel;
        color: white;
    }

    &.Urlaub-krank {
        background-color: $Urlaub-krank;
    }

    &.Anfahrt {
        background-color: $Anfahrt;
    }

    &.Abfahrt {
        background-color: $Abfahrt;
    }

    &.L1 {
        background-color: $L1;
    }

    &.L2 {
        background-color: $L2;
    }
}

.container--legende .box  {
    width: 100%;
    max-width: 100%;

    @mixin atSmall {
        width: 47%;
    }
    @mixin atMedium {
        width: 31%;
    }

}