.btn {
    background-color: $kpcBlau;
    color: #FFF;
    text-decoration: none;
    padding: 0 1rem;
    display: inline-block;

    &--blau {
        background-color: $kpcBlau;
        border-radius: 5px;
        border: 1px solid;

        &:hover {
            background-color: $kpcBlau2;
            border: 1px solid #999;
        }
    }

    &--rot {
        background-color: $kpcRot;
        border-radius: 5px;
        border: 1px solid;

        &:hover {
            background-color: $kpcBlau;
            border: 1px solid #999;
        }
    }

}