.primary-nav {
    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }

    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 0.3rem;
        @mixin atMedium {
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 1rem;
        }
    }

    a {
        color: #FFF;
        font-weight: 300;
        text-decoration: none;
        display: block;
        font-size: .8rem;
        padding: 0.3rem 0.5rem;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium {
            font-size: 1rem;
            padding: 0.75rem 0;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }
    }
}