.site-footer {
    font-size: .75em;
    font-weight: 200;
    color: #FFF;
    text-align: center;
    background-color: $kpcBlau;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .25rem;
    /*opacity: .6;*/
    /*border: 1px solid #000;*/

    @mixin atMedium {
        font-size: 1em;
    }

}